button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.2s ;
    width: fit-content;
}
button.white{
     font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    transition: 0.2s ;
    width: fit-content;
    margin-top: 30px;
}
body{
    width: 100%;
}
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow:0px  2px 1px  rgba(255, 1, 238, 0.395) ;
    z-index: 999;
    position: sticky;
    top: -10px;
    left: 0;
}
#logo{
color: rgb(0, 0, 0);
font-weight: bolder;
font-size: 25px;
text-shadow: 0px 0px 8px  rgb(255, 234, 0) ;

}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
    
}
#navbar .shoppingbag:hover{
       color: #088178;
}
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088172;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url("e.png");
    height: 90vh;
  width: 100%;
    background-size:contain;
    background-repeat: no-repeat;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;
    font-size: x-large;
}
#hero h4 ,h2,p{
    color: rgb(255, 255, 255);
    top: -100px;
}

#hero h1{
    color: rgb(255, 0, 0);
      filter: drop-shadow(0 0 6px rgb(255, 255, 255));

}
#hero button{
    border: 0px;
    background-color: transparent;
    font-size: medium;
    font-weight: 700;
    color: rgb(231, 255, 98);
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
    transition: 0.2s ease;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
}
#hero button:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(65, 184, 159);
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
#feature{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding:25px 15 px ;
box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
border: 1px solid #cce7d0;
margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.177);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px
}
#feature .fe-box h4{
    display: inline-block;
padding: 9px 8px 6px 8px;
line-height: 1;
border-radius: 4px;
color: rgb(0, 0, 0);
background:linear-gradient(to right, skyblue ,pink );
}
#product1{
    text-align: center;
}
#product1 p1{
    font-size: smaller;

}
#product1 .pro{
    width: 15%;
    min-width: 100px;
    padding: 6px 0px;
    border: 1px solid #cce7d0;
    border-radius:25px ;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 0px 0px;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 30px;
}
.pro img{
    width: 95%;
    border-radius: 20px; 
 }
#product1 .pro:hover{
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.286);
}
.des{
text-align: start;
padding: 6px 10px;
}
.des span{
    color: #606063;
    font-size: 12px;
}
.des h5{
    padding-top:-10px ;
    color: #1a1a1a;
    font-size:14px ;
}
.star i{
    font-size: 12px;
    color: rgb(243,181, 25);
}
.des h4{
   
    font-size: 15px;
    font-weight: 700;
    color: #088178;

}
 .pro #cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
}
.section-m1 button{
    width:fit-content;
     margin-left: 45.5%;
}
#banner h4{
    color: white;
    font-size: 16px;
}
.section-m1 h1{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}
#banner h1 span{
    color: #ef3636;
}
#sm-banner{
    display: flex;
justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
     
    flex-direction: column;
    justify-content: center;
   align-items: flex-start;
    background-image: url(banner1.jpg);
    background-size: cover;
    background-position:top;
    width:600px;
    height: 40vh;
    padding: 30px;
}
#sm-banner .banner2{
    background-image: url(banner2.jpg);
}

#sm-banner h4{
    color: rgb(0, 0, 0);
    font-size:20px ;

}
.section-p1 h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
   
}
#sm-banner span{
    color: rgb(0, 0, 0);
    font-size: 14px;
padding-bottom: 20px;
    
}
#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
   display: flex;
     flex-direction: column;
    justify-content: center;
   align-items: flex-start;
    background-image: url(banner5.jpg);
    background-size: cover;
    background-position:top;
    width:28%;
    height: 28vh;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 900;
}
#banner3 h3{
     color: #ef3636;
     font-weight: 800;
     font-size: 15px;
}
#banner3 .banner-2{
    background-image: url(banner4.jpg);
    background-position: center;
}
#banner3 .banner-3{
    background-image: url(banner3.jpg);
    background-position: center;
}
#newsletter{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
} 
#newsletter .form{
display: flex;
width: 40%;
}
#newsletter h3{
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #808ea0;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter input {
    height: 3.125rem;
    padding: 0 1.23em;
    font-size: 14px;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088172;
    color: white;
    white-space: nowrap;
     border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.col h3{
    color: #041e42;
}
.col p{
    color:#808ea0;
}
.follow h3,i{
    color: #808ea0;
}
.row img{
    width: 60%;
    height: 80px;
}
.row{
    display: flex;
    justify-content: flex-start;
}
#GateWays{
     width: 10%;
     height: 80px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: -10%;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   margin-bottom: 20px;
   
}
footer .sponcered{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
footer h3{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
 margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    padding-bottom: 10px;
    padding-top: 10px;
}
footer .follow{
    padding-right: 8px;
    cursor: pointer;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}
 .copyright {
   width: 75%;
     text-align: center;  
} 
.copyright p{
    color: black;
}

/* css for shop.html */

#newsletter2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(newslete);
    backdrop-filter:blur(50%);
    background-size: cover;
    background-repeat: no-repeat;
   
    background-color: #031733;
    height: fit-content;
}
#newsletter2 h1{
    color: #ff0000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
     background-color: #041834;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color:#088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* single-product-style */
#prodetails{
   display: flex;
   margin-top:20px ;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
       
}
#prodetails .single-pro-details h4{
    padding:40px 0 30px 0 ;
}
#prodetails .single-pro-details h3{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display:block;
    padding: 5px 10px ;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 44px;
    padding-left: 10px ;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details button{
    background-color:#088178;
    color: white;
}
#prodetails .single-pro-details span{
    line-height: 25px;
    
}